<ion-card>
  <ion-grid fixed>
    <ion-row class="ion-align-items-center">
      <ion-card-title class="ion-margin" color="verdeOscuro">{{index+1}}. {{comercio.nombre}}</ion-card-title>

      <ion-col align="right">
        <ion-button (click)="openMenu()" fill="clear">
          <ion-icon slot="icon-only" color="verdeOscuro" name="ellipsis-vertical-outline"></ion-icon>
        </ion-button>
      </ion-col>

      <ion-img src="/assets/img/comercio_local_2.jpg"></ion-img>
    </ion-row>
  </ion-grid>

  <ion-grid fixed>
    <ion-row>
      <ion-col size="12">

        <ion-chip [disabled]="true" color="verdeFluo">
          <ion-label>{{comercio.categoria}}</ion-label>
        </ion-chip>

      </ion-col>
    </ion-row>
  </ion-grid>

  <ion-card-content>
    {{comercio.descripcion}}
  </ion-card-content>
</ion-card>